@model AwesomeNetwork.ViewModels.Account.LoginViewModel
@{
    ViewData["Title"] = "Login";
}
<div>
    <h4>Добро пожаловать!</h4>
    <form class="frm" method="post" asp-controller="AccountManager" asp-action="Login">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <div class="mrgn">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div>
            <div class="mrgn">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div>
            <input class="btn btn-primary" type="submit" value="Войти" />
        </div>
    </form>
</div>